body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color: orangered;
}
h1{
    font-size: 50px;
    color: gray;
    font-weight: bolder;
}
h2{
    font-size: 40px;
    color: gray;
}
h3{
    font-size: 30px;
}
p{
    text-align: justify;
}
.header{
    display: flex;
    margin: 5%;
   
}
.half-width{
    width: 50%;
    float: left;
}
.header-paragraph{
    
    padding-right: 10%;
    margin-bottom: 50px;

}
.header-image{
    width: 90%;
    margin-left: 10%;

}
.btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(red , orange);
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 20px;
}
.about-me{
    margin-top: -100px;
    display: flex;
    width: 100%;
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
}
.about-div{
    float: left;
    width: 55%;
    margin-top: 250px;
}
.about-img{
    width: 60%;
    padding-left: 20%;
}
.about-paragraph{
    padding-right: 20%;
    margin-bottom: 100px;

}
.recipies-div-1{
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.recipies-div-1 p{
    text-align: center;
}
.recipies-img{
    width: 280px;
    height: auto;
    border-radius: 10px;
}
.recipies-container{
    display: flex;
    margin: 5%;
}
.one-third-width{
    float: left;
    margin-left: 80px;
    margin-right: 5px;
    box-shadow: 10px 20px 40px gray;
    border-radius: 10px;
    padding: 10px;

}
.one-third-width p{
   width: 280px;
}


.social-container{
    display: flex;
    margin: 10%;
    box-shadow: 10px 20px 40px gray;
    border-radius: 20px;
}
.social-div{
    float: left;
    padding: 100px;
}
.social h2{
    color: black;
}

footer{
    padding-top: 20px;
    height: 200px;
    background-color: black;
    text-align: center;
    padding-bottom: 50px;
}
footer h3{
    color: gray;
    
}
footer p{
    color: white;
    text-align: center;
}
.social-img{
    width: 100px;
    height: auto;
}
